@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,300;0,400;1,300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #d4d6db;
    position: relative;
    display: flex;
}

/* 1 Menu bar  */

#menu {
    background-color: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: beige;
    padding: 30px 0 0 30px;
}

#menu .logo img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

#menu .items {
    margin-top: 40px;
}

#menu .items li {
    list-style: none;
    padding: 15px 0px;
    transition: 0.3s ease;
}

#menu .items li:hover {
    background: #253047;
    cursor: pointer;
}
#menu .items li:nth-child(1)
{
    border-left: 4px solid #fff;
} 

#menu .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
    color: #fff;
}

#menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}


/* 2 Interface Board*/

#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

/* 2.1 Navigation bar*/
#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#4d9be9;/* #38cfca;*/ 
    padding: 15px 30px;
    border-bottom: 4px solid #e60246;
    position: fixed;
    width: calc(100% - 300px);
}



#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
    color: #253047;
}

#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
/*============================================*/

.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#menu-btn{
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}
.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}


.board{
    width: 94%;
    margin: 30px 0px 30px 30px;
    overflow: auto;
    background:#dcdddf;
    border-radius: 8px;
    text-align: left;

}

/*==================TABLE==========================*/
/*Table Desining*/
.board h5{
    font-weight: 600;
    font-size: 14px;   
}

.board p{
    font-weight: 400;
    font-size: 13px;  
    color: #444a53; 
}

table{
    border-collapse: collapse;
}
tr{
    border-bottom:1px solid #568dc5;
}

thead th{
    font-size:14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #4d9be9;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.edit a{

    text-decoration: none;
    font-size: 14px;
    color: blue;
    font-weight: 600;
}


/*Profile*/

.profile-sec{
    padding-left: 70px;
    display:block ;
    }
    .icon-prof{
    height: 40px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    }
    
    
    .id-icon img{
       height: 40px;
       width: 40px;
       display: block;
       border-style: none; 
       float: left;   
    }
    .pro-txt{
       float: left;
       font-size: 25px;
        font-weight: bold;
        margin-left: 10px;
       
    }
    .edit-profile{
       float: right;
       margin-right: 5%;
    }
    
    .myp{
       height: 20px;
       width: 100%;  
    }
    .pro-detail{
    margin-top: 10px;
    width: 80%;
    border: 1px solid rgb(187, 186, 186);
    
    }
    .detail-txt{
       height: 40px;
       width: 100%-30px;
       background-color: rgb(195 210 201);
       font-size: 23px;
        font-weight: bold;
        padding-left: 30px;
        padding-top: 5px;
    }
    .pinfor{
       background-color: white;
    }
    .user-detail{
    
    font-size: 16px;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 30px;
    }
    
    .user-info{
    font-size: 20px;
       
        padding-left: 30px;
        padding-bottom: 15px; 
    }
   


    
@media(max-width:769px)
{
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }
    #menu.active{
        left:0px;
       
    }
    #menu-btn{
        display:initial ;
    }
    #interface{
        width: 100%;
        margin-left: 0px;
        display: inline-block;
    }
    #menu.active~#interface{
        width: 100%;
        margin-left: 270px;
        transition: 0.3s ease;
    }
    #interface .navigation {
       width: 100%;
    }
    .values {
        padding: 30px 30px 0 30px;
        justify-content:flex-start;
    } 
    .values .val-box {
     
        padding: 16px 20px;
       margin: 10px 20px 10px 0;
    }
   
    table{
        width: 100%;
        border-collapse: collapse;
    }
    .formSubBox {
        width: 70%;
       
    }

    .board {
        width: 94%;
        margin: 20px 0px 20px 8px;
    }
 

} 

@media(max-width:477px)
{
    #interface .navigation {
        padding: 15px;
     }
     .i-name {
 
        padding: 15px 15px 0 15px;

    }

    .values {
        padding: 15px 15px 0 15px;  
    }
    .values .val-box {
        width: 100%;
        margin: 8px 0;
    }
    .catSubFormBox,.formSubBox {
        width: 90%;
       
    }
    
  
}