*{
margin: 0;
padding: 0;

}

.header{
    border-bottom:4px solid #e91e63;
}
.menu-bar{
    background-image: linear-gradient(92.04deg,#18184a 24.18%,#19398a 50.95%,#18184a 110.32%);
   
}


.nav-link{
font-size: 16px;
margin: 3px 5px;
color: #fff !important;
font-weight: 500;
}
.nav-item:hover
{
    background: #321ee880;
}

.navbar-nav{
    text-align: right ;
    margin-right: 20px;

}

.menu-bar .navbar-toggler{
padding-right: 20px;
outline: none !important;
border: none !important;
}

.navbar .fa{
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.navbar-brand{
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: bold;
    color: #ffffff !important;
    text-transform: uppercase;
}
.card
{
    float: left;
    margin: 10px;
}
.quiz-container{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;}